/*Name:  	Curtis Kesner and Ashley Goins
Class    	CIS-131.W01
Date:			9-8-2018
Assignment: CaseStudy Group6*/

/* Nav bar styles*/
.topnav	{
	overflow: hidden;
	text-align: center;
	font-size: 1.2em;
}
li{
	display: inline;
}
li:last-child {
	border-right: none;
}
a:link {
	font-family: Georgia, serif;
	color: #F1EA7F;
	text-decoration: none;
}
a:visited {
	color:#F1EA7F;
}
a:active {
	text-decoration: underline;
}
a:hover {
	color: #7FFFD4;
	background-color: transparent;
	text-decoration: underline;
}
/*Links within Body*/
.pageLinks a:link {
	color: #006400;
}
.pageLinks a:hover {
	color: #7FFFD4;
	text-decoration: underline;
}
/*Body*/
/*#budget{
}
#submit{
}
.readyForVacation {
}*/
.column {
	float: left;
	width: 48%;
	padding: 5px;
}
.row::after {
	content: "";
	clear: both;
	display: table;
}
h1 {
	text-align: center;
	color: #FFA500
}
h3.#budget {
	float: left;
}
body {
    background-image: url("images/oceanBackground.jpg");
}
h1.title {
	font-family: "Times New Roman", Times, serif;
	font-size: 2.7em;
	text-align: center;
}
p {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	line-height: 1.5em;
	font-size: 0.9em;
	font-family: sans-serif;
}
p.testimonials{
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	padding-bottom: 25px;
}
#testimonials{
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	color: #4b0066;
}
h3 {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}
article {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
